<h1>Students</h1>


<div class="container_12">

  <div class="grid_2" >
<%= link_to 'New Student', new_student_path %>
</div>

  <div class="grid_8 push_2" >
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Rating</th>
      <th>Date of birth</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <td><%= student.age %></td>
        <td><%= student.rating == 0 ? "Unrated" : student.rating %></td>
        <td><%= student.date_of_birth.strftime("%B %d, %Y") %></td>
        <td><%= student.active == "true" ? "Inactive" : "Active" %></td>>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span class="paginate">
<%= will_paginate @students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
</div>





