
<% unless camps.empty? %>
<h2><%= status %> Camps</h2>

<table class="table">
  <tr>
    <th width="260">Name</th>
    <th width="120">Start On</th>
    <th width="120">Time</th>
    <th width="120">Registrations</th>
    <th></th>
    <th></th>
  </tr>

<% camps.each do |camp| %>
  <tr>
    <td><%= link_to camp.curriculum.name, camp_path(camp) %></td>
    <td align="center"><%= camp.start_date.strftime('%m/%d/%y') %></td>
    <td align="center"><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
    <td align="center"><%= camp.registrations.size %>/<%= camp.max_students %></td>
    <td><%= link_to 'Edit', edit_camp_path(camp), class: "button tiny radius" %></td>
  </tr>
  <%end%>
</table>

<% else %>
    <h3>There are no <%= status %> camps to be displayed</h3>
<% end %>


<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>