<%= simple_form_for(@camp, html: { class: 'form-horizontal' }) do |f| %>
       
    <div class="row">
      <div class="small-6 columns">
        <h3><%= controller.action_name.capitalize %> Camp</h3>
        <%= f.input :curriculum_id, collection: Curriculum.active.alphabetical, prompt: "Select curriculum..." %>
        <%= f.input :location_id, collection: Location.active.alphabetical, prompt: "Select location..." %>
        <%= f.input :cost %>
        <%= f.input :max_students %>
        <%= f.input :start_date, label: "Start Date", as: :string, :input_html => {:class => "avg datepicker"} %>
        <%= f.input :end_date, label: "End Date", as: :string, :input_html => {:class => "avg datepicker"} %>
        <%= f.input :time_slot, collection: [['Morning','am'],['Afternoon','pm']], prompt: "Select time..." %>
        <%= f.input :active %>
      </div>
      <div class="small-3 columns">&nbsp;
        <% if controller.action_name=="edit" && @camp.active %>
        <h3>Camp Instructor(s)</h3>
        <%= f.input :instructor_ids, label: "", collection: Instructor.active.alphabetical, as: :check_boxes %>
        <% end %>

    </div>

      <div class="small-3 columns">&nbsp;
        <% if controller.action_name=="edit" && @camp.active %>
        <h3>Register Student(s)</h3>
        <%= f.input :student_ids, label: "Register Students", collection: Student.active.below_rating(@camp.curriculum.max_rating).at_or_above_rating(@camp.curriculum.min_rating).alphabetical, as: :check_boxes %>
        <% end %>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of camps', camps_path, :class => 'button secondary radius' %>
    </div>

<% end %>