
<%= simple_form_for(@registration, html: { class: 'form-horizontal' }) do |y| %>  
    <div id = "camp_registration">
        <h3>Register Student(s)</h3>
        <%= y.input :camp_id, :as => :hidden, input_html: { class: 'hidden', value: @camp.id } %>
        <%= y.input :student_id, collection: Student.active.alphabetical.below_rating(@camp.curriculum.max_rating).at_or_above_rating(@camp.curriculum.min_rating), prompt: "Select Eligible Students..." %>
        <%= y.input :payment_status, collection: ['deposit', 'full'], prompt: "Select payment..." %>
    </div>     

  <div class="form-actions">
    <%= y.submit nil, class: 'button radius' %>
  </div>
<% end %>  

