  <%= simple_nested_form_for @instructor, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="row">
      <div class="span7">
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Instructor</legend>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :phone, as: :string %>
            <%= f.input :email %>
            <%= f.input :active %>          
            <%= f.input :bio, input_html: {rows: 6} %>           
        </fieldset>
      </div>


    <div class="span5">
      <legend>User for this Instructor</legend>
        <div id="instructor_user">
          <%= f.simple_fields_for :user do |y| %>
            <%= y.input :username %>
            <%= y.input :password %>
            <%= y.input :password_confirmation %>
            <%= y.input :role, collection: User::ROLES, prompt: "Select a role..." %>
          <% end %> 
        </div> 
      </div>
        </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', instructors_path(@instructors), :class => 'button secondary' %>
    </div>
  <% end %>

