<div class="container_24">
  <div class="grid_3" id = "nav">
    <p>
        <%= link_to image_tag('curr.png'), curriculums_path %>
    </p>
  </div>

  <div class="grid_3" id = "nav">
    <p>
      <%= link_to image_tag('camp.png'), camps_path %>
    </p>
  </div>

  <div class="grid_3" id = "nav">
    <p>
      <%= link_to image_tag('loc.png'), locations_path %>
    </p>
  </div>

  <div class="grid_6" id = "logo">
    <p>
          <%= link_to image_tag('chesslogo.png'), home_path %>
    </p>
  </div>

  <div class="grid_3" id = "nav">
    <p>
      <%= link_to image_tag('inst.png'), instructors_path %>
    </p>
  </div>

  <div class="grid_3" id = "nav">
    <p>
      <%= link_to image_tag('stu.png'), students_path %>
    </p>
  </div>

    <div class="grid_3" id = "nav">
    <p>
      <%= link_to image_tag('fam.png'), families_path %>
    </p>
  </div>



</div>