<h1> Welcome, <%= current_user.instructor.proper_name%>!</h1>

	<div class= "grid_4" id = "content">
		<h3> profile </h3>
		<div class = "photo">
		  <% if !current_user.instructor.picture_url.nil? %>
    			<p><%= image_tag current_user.instructor.picture_url %></p>
	  	  <%else%>
	  		<img alt="Profile Picture" src="/assets/propic.jpg"/>
  		  <% end %>
  		 </div>
		<br></br>
		<strong>Role:&nbsp;&nbsp;</strong> 
			"Administrator"
		<br /><br />

		<strong>Phone:&nbsp;&nbsp;</strong> 
		  <%= number_to_phone(current_user.instructor.phone) %><br /><br />

		<strong>Email:&nbsp;&nbsp;</strong> 
		  <%= mail_to current_user.instructor.email, current_user.instructor.email, encode: "javascript" %><br /><br />

		<% if not @current_user.nil? %>
			<strong>Role:&nbsp;&nbsp;</strong> 
			  <%= current_user.role %><br /><br />

			<strong>Username:&nbsp;&nbsp;</strong> 
			  <%= current_user.username %><br /><br />
		<% end %>

		<strong>Active?&nbsp;&nbsp;</strong>
		  <%= current_user.instructor.active ? "Yes" : "No" %><br /><br />

		<strong>Biography</strong><br />
		  <%= current_user.instructor.bio.nil? ? "N/A" : current_user.instructor.bio %><br /><br />



		<ul><%= link_to "Edit Your Profile", edit_instructor_path(current_user.instructor), class: "button tiny radius" %></td>



	</div>



	<div class="grid_8" id ="content">
		<h3> All Upcoming Camps</h3>
		<table>
		  <thead>
		    <tr>
		      <th>Camp</th>
		      <th>Registeration</th>
  		      <th>Date</th>
		      <th>Actions</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @upcoming_camps.each do |camp| %>
		      <tr>
		        <td><%= link_to camp.curriculum.name, camp_path(camp) %></td>
		        <td><%= camp.registrations.size %>/<%= camp.max_students%></td>
		        <td><%= camp.start_date.strftime('%m/%d/%y') %> 
				  <% if camp.start_date != camp.end_date %>
				    <%= "- #{camp.end_date.strftime('%m/%d/%y')}" %>
				  <% end %>
				</td>
		        <td><%= link_to 'Edit', edit_camp_path(camp), class: "button tiny radius" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<span class="paginate">
			<%= will_paginate @upcoming_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
		</span>
		<br></br>
</div>


	<div class="grid_8" id ="content">

		<h3> Top Instructors</h3>
		<table>
		  <thead>
		    <tr>
		      <th>Instructor</th>
		      <th>Camps</th>
  		      <th>Active</th>
		      <th>Email</th>
		      <th>Actions</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @instructors.each do |inst| %>
		      <tr>
		        <td><%= link_to inst.name, instructor_path(inst) %></td>
		        <td><%= inst.camps.size %></td>
		        <td><%= inst.active ? "Yes" : "No" %>
 				<td><%= mail_to 'Email', inst.email, encode: "javascript", class: "button tiny radius" %></td>
		        <td><%= link_to 'Edit', edit_instructor_path(inst), class: "button tiny radius" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<span class="paginate">
			<%= will_paginate @upcoming_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
		</span>
	</div>













