
  <h2>Location Details</h2>


<div class="container_12">
  <div class="grid_6" >

<p >
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.street_1 %>
  <%= @location.street_2 %>
  <%= @location.city %>, <%= @location.state %>  <%= @location.zip %>
</p>

<p>
  <strong>Maximum Capacity:</strong>
  <%= @location.max_capacity %>
</p>

<p>
  <strong>Active:</strong>
  <% if @location.active  == true %>
    <%= 'Yes' %>
  <% else %>
    <%= 'No' %>
  <% end %>
</p>

<p>
<%= link_to 'Edit', edit_location_path(@location), class: "button tiny radius" %> |
<%= link_to 'Back', locations_path, class: "button tiny radius" %>
</p>
</div> 

<div class= "grid_6", id = "content">
<p>
  <h3> Map </h3>
  <%= image_tag @location.create_map_link %>
</p>

</div>
</div>
