<p id="notice"><%= notice %></p>

<p>
  <strong>Location Details</strong>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.street_1 %>
  <%= @location.street_2 %>
  <%= @location.city %>, <%= @location.state %>  <%= @location.zip %>
</p>

  <strong>Map:</strong>
  <%= image_tag @location.create_map_link %>
</p>

<p>
  <strong>Maximum Capacity:</strong>
  <%= @location.max_capacity %>
</p>

<p>
  <strong>Active:</strong>
  <% if @location.active  == true %>
    <%= 'Yes' %>
  <% else %>
    <%= 'No' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
