<!DOCTYPE html>


<html lang="en">
  <head>
    <%= favicon_link_tag 'logo.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "A&M Chess Camps" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%# javascript_include_tag "application" %> 
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render :partial => "partials/nav" %>


<div class="container_12">
  <div class="grid_12" id = "content">
        <%= render :partial => "partials/flash" %>
<!-- LOG IN -->
    <div id="login" id = "content">  
        <% if logged_in? %>
      <%= link_to 'Logout', logout_path, class: "button tiny radius" %> AS <%= current_user.instructor.proper_name %>
    <% else %>
      <%= link_to 'Login', login_path, class: "button tiny radius"%>
    <% end %>
      </div>
  </div>

</div>



        <div class="container_12" id = "main_content">

          <%= yield %>

        </div>


    <footer>
      <div class="row">
        <div class="small-12 columns" id="footer">
          <%= render partial: 'partials/footer' %>
        </div>
      </div> 
    </footer> 
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :defaults, "nested_form" %>
  </body>
</html>